<!DOCTYPE html>

<head th:replace="fragments/head :: head(title='Підтверження замовлення')"></head>

<body>
<div id="wrapper">
    <div id="welcome">
        <a th:href="@{/}"><img th:src="@{/img/logo.jpg}" alt=""></a>
    </div>
    <div class="order">
        <h3>Ваше замовлення</h3>
        <table>
            <thead>
            <tr>
                <th>Страва</th>
                <th>Сума</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="item: ${orderDTO.getOrderItems()}">
                <tr>
                    <td>
                        <span th:text="${item.getProductDTO().name}"></span>
                        <span th:text="${' *' + item.quantity}"></span>
                    </td>
                    <td th:text="${item.quantity*item.getProductDTO().price + ' грн'}">427.50 грн</td>
                </tr>
            </th:block>
            <tr>
                <td>Сума</td>
                <td th:text="${orderDTO.getSum() + ' грн'}"></td>
            </tr>
            </tbody>
        </table>
        <div class="buttons">
            <a th:href="@{'~' + ${flowExecutionUrl} + '&_eventId_personal'}">Назад</a>
            <a th:href="@{'~' + ${flowExecutionUrl} + '&_eventId_approveOrder'}">Підтвердити замовлення</a>
        </div>
        <div class="clear"></div>
    </div>
</div>
</body>
</html>