<!DOCTYPE html>

<head th:replace="fragments/head :: head(title='Повідомлення')"></head>

<body>
<div id="wrapper">
    <div id="welcome">
        <a th:href="@{/}"><img th:src="@{/img/logo.jpg}" alt=""></a>
    </div>
    <div id="notification">
        <h3>Повідомлення</h3>
        <p>
            <span>Ваше замовлення обробляється: </span>
            <span th:text="${'№' + orderDTO.getId()}"></span>
            </p>
        <a th:href="@{/}">Завершити</a>
        <div class="clear"></div>
    </div>
</div>
</body>
</html>