<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Вибір страв</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div id="wrapper">
  <div id="welcome">
    <a href=""><img th:src="@{/img/logo.jpg}" alt=""></a>
  </div>
  <div id="leftPanel">
    <div id="productList">
      <h3>Категорії страв</h3>
      <ul>
        <th:block th:each="category: ${categories}">
          <li><a th:href="@{${'/main/products?id=' + category.getId()}}" th:text="${category.name}">First</a></li>
        </th:block>
      </ul>
    </div>

    <div id="cart">
    </div>
  </div>

  <div id="rightPanel">
    <div id="products">
      <div class="product" th:each="product: ${products}">
        <p><img th:src="@{${'/img/' + product.getImg()}}"></p>
        <h4 th:text="${product.getName()}">Борщ український зі сметаною</h4>
        <p th:text="${'Ціна ' + product.getPrice() + ' грн'}" class="price">Ціна 210 грн</p>
        <a th:onclick="'addToCart(event,' + ${product.getId()} + ')'">Додати в кошик</a>
      </div>
    </div>

    <div class="clear"></div>
  </div>
  <div id="nextButton">
    <a th:href="@{/}">Назад</a>
    <a th:href="@{/main/checkout}">Далі</a>
  </div>
  <div class="clear"></div>
</div>

<script type="text/javascript"
        src="/webjars/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>

</body>
</html>